{{#with navigation}}
<div class="row">
     {{#each links}}
     <div class="col-2 m-2">
          <div class="nav">
               <div class="nav-item">
                    <a href="{{href}}" class="nav-link aktive">{{text}}</a>
               </div>

          </div>
     </div>
     {{/each}}
     <div class="nav-item">
          <a href="#" class="nav-link disabled">disabled</a>
     </div>
</div>
<hr>
{{/with}}
<hr>
{{#with newsBlock}}
<p>
<h2 class="text-center">{{name}}</h2>
</p>
<section class="row">
     {{#each cards}}
     <div class="col-3">
          <div class="card">
               <div clas="card-body"> </div>
               <div class="card text-bg-secondary">
                    <div class="List-group-item">
                         {{#if isTop}}
                         <span class="bage text-bg-danger rounded-pill text-uppercase">top</span>
                         {{/if}}
                         {{#if isNew}}
                         <span class="bage text-bg-success rounded-pill text-uppercase">нова</span>
                         {{/if}}
                         <p class="text-muted">{{description}}</p>
                    </div>
               </div>
          </div>
     </div>
     {{/each}}
</section>
{{/with}}
<hr>




<div class="nav">
     <div class="nav-tabs">


          {{#with newsBlock}}
          {{#each tabs}}
          {{#if isActive}}
          <div class="nav-item"><a href="#" class="nav-link active">{{text}}</a></div>
          {{else}}
          <div class="nav-item"><a href="#" class="nav-link disabled">{{text}}</a></div>
          {{/if}}
          {{/each}}
          <!-- {{#with button}}
               <div class="nav-item"><a href="#" class="btn btn-primary">{{text}}</a></div>
               {{/with}}-->
          {{/with}}


     </div>
</div>