{{#with navigation}}
<div class="row">
     {{#each links}}
     <div class="col-2 m-2">
          <div class="nav">
               <div class="nav-item">
                    <a href="{{href}}" class="nav-link aktive">{{text}}</a>
               </div>

          </div>
     </div>
     {{/each}}
     <div class="nav-item">
          <a href="#" class="nav-link disabled">disabled</a>
     </div>
</div>
<hr>
{{/with}}
<hr>
{{#with newsBlock}}
<p>
<h2 class="text-center">{{name}}</h2>
</p>
<section class="row">
     {{#each cards}}
     <div class="col-3">
          <div class="card">
               <div clas="card-body"></div>
               <div class="card text-bg-dark">
                    <div class="List-group-item">
                         {{#if isTop}}
                         <span class="bage text-bg-danger rounded-pill text-uppercase">top</span>
                         {{/if}}
                         {{#if isNew}}
                         <span class="bage text-bg-success rounded-pill text-uppercase">нова</span>
                         {{/if}}
                         <p class="text-muted">
                              <font color="ffffff">{{description}}</font>
                         </p>
                    </div>

               </div>
          </div>
     </div>
     {{/each}}
</section>
{{/with}}

<HR>
{{#with goodsBlock}}
<section class="row">
     <div class="col-12">
          <div class="nav nav-tabs">
               <div class="nav-item">
                    <a href="#" class="nav-link active">Electronics</a>
               </div>
               <div class="nav-item">
                    <a href="#" class="nav-link">Home & Kitchen</a>
               </div>
               <div class="nav-item">
                    <a href="#" class="nav-link">Clothing & Accessories</a>
               </div>
               <div class="nav-item">
                    <a href="#" class="nav-link disable">Toys & Games</a>
               </div>
          </div>
     </div>
</section>




<section class="row">
     {{#each cards}}
     <div class="col-4">
          <div class="card">
               <img class="card-img-top" src="https://picsum.photos/400/200" alt="{{alt}}">
               <div clas=" card-body"></div>
               <h5 class="card-title">{{title}}</h5>
               <div class="List-group-item">
                    {{#if isHot}}
                    <span class="bage text-bg-warning rounded-pill text-uppercase">top</span>
                    {{/if}}
                    {{#if isNew}}
                    <span class="bage text-bg-primary rounded-pill text-uppercase">нова</span>
                    {{/if}}
               </div>
               <p class="text-muted">{{description}}</p>

          </div>

     </div>
     {{/each}}
</section>
{{/with}}


<HR>
{{#with subscribe}}
<div class="row">
     {{#each cards}}
     <div class="col-12">
          <div class="card">
               <div clas="card-body">
                    <div class="card text-bg-success">
                         <div class="card-header">
                              <h2>{{header}}</h2>
                         </div>


                         <h6 class="text-muted">{{description}}</h6>

                         <div class="col-2"></div>
                         <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </div>


               </div>
          </div>
     </div>
     {{/each}}
</div>
{{/with}}