<main>
     {{#with navigation}}
     <div class="nav">
          {{#each links}}
          <div class="nav-item">
               {{#if href}}
               <a href="{{href}}" class="nav-link">{{text}}</a>
               {{else}}
               <a href="{{href}}" class="nav-link disabled">{{text}}</a>
               {{/if}}
          </div>
          {{/each}}
     </div>
     {{/with}}
     <div class="display-1">{{header}}</div>

     {{#with purchase}}
     <div class="nav nav-tabs">

          <div class="nav-item">
               <a href="#" class="nav-link acive">Всі замовлення</a>
          </div>
          <div class="nav-item">
               <a href="#" class="nav-link  disabled">Гарантія та повернення</a>
          </div>
          <div>

               <div class="row mb-2">
                    {{#with actionBlock}}
                    <div class="col-auto">
                         {{#with input}}
                         <input class="form-control-sm" type="text" placeholder="{{placeholder}}">
                         {{/with}}

                         {{#each buttons}}
                         {{#if isSuccess}}
                         <a href="{{link}}" class="btn btn-success btn-sm">{{text}}</a>
                         {{/if}}
                         {{#if isOutline}}
                         <a href="{{link}}" class="btn btn-outline-secondary btn-sm">{{text}}</a>
                         {{/if}}
                         {{#if isDanger}}
                         <a href="{{link}}" class="btn btn-danger btn-sm">{{text}}</a>
                         {{/if}}
                         {{/each}}
                    </div>
               </div>
          </div>
          {{/with}}
          {{/with}}
     </div>
     {{#with purchase}}

     <section>
          {{#each itemList}}
          <div class="container">
               <div class="row">

                    <div class="col order-first">
                         <p class="text-muted">{{number}}</p>
                         <p class="text-display-6">{{status}}</p>
                    </div>
                    {{#with amount}}
                    <div class="col">

                         <p class="text-display-6">{{title}} {{value}}</p>

                    </div>
                    {{/with}}
                    <div class="col">
                         {{#each images}}
                         <img src="{{images}}" class="container-img-top" alt="...">
                         {{/each}}
                    </div>
                    <div class="col order- last">
                         {{#with button}}
                         <a href="{{link}}" class="btn btn-primary btn-sm">{{text}}</a>
                         {{/with}}
                    </div>
               </div>
          </div>
          {{/each}}
     </section>
     {{/with}}


     <div class="container">
          <div class="row">
               <div class="col order-last">
                    First in DOM, ordered last
               </div>
               <div class="col">
                    Second in DOM, unordered
               </div>
               <div class="col">
                    Second in DOM, unordered
               </div>
               <div class="col order-first">
                    Third in DOM, ordered first
               </div>
          </div>
     </div>

</main>