({{projectAmount}})-33
({{stacksAmount}})-45
{{else}}
<b>{{company.name}}</b> -28

{{#with footer}}
<footer>

     <div>
          {{#with social}}
          {{>link text=email.text href=email.href blank=true }}
          {{>link text=phone.text href=phone.href blank=true }}
          {{>link text=linkedin.text href=linkedin.href blank=true }}

          {{/with}}
     </div>
     <br>
     <div>
          <em>Copyright {{../header.name.firstname}} {{../header.name.lastname}}</em>
     </div>
     <br>
     <div>
          <em>address {{../header.address}} </em>
     </div>
</footer>
{{/with}} --big27
<!--===================================================-->
<div class="col-9">
     {{#with delivery}}
     <p class="display-3">{{title}}</p>
     {{#each select}}
     <div class="card m-2 p-2">
          <div class="card-body">
               <label class="form label">{{label}}</label>
               <select class="form-select">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}"> {{text}}</option>
                    {{/each}}
               </select>
          </div>