<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <link href='css/index.css' rel='stylesheet' />
</head>

<body>

  <div>
    <div>
      <h1>{{name}}</h1>
      <em> <strong>{{birthdate}} - {{deathdate}} </strong></em><br>
      <strong>birthplace:{{birthplace}}</strong><br>
      <strong>deathplace: {{deathplace}}</strong><br>
      <b>nationality:</b>{{nationality}}<br>
      <b>occupation:</b>{{occupation}}
    </div>
    <hr>
    <br>

    {{{body}}}

</body>

</html>